.header-toolbar {
  --ion-toolbar-background: #ffffff !important ;
  --ion-toolbar-color: #000000 ; //texto 
}

ion-header, ion-toolbar {
  box-shadow: none !important;
  --box-shadow: none !important;
}
