<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard de Indicadores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2 style="margin-top:16px;">Montos por proveedor</h2>
  <canvas #barChartCanvas style="max-width:100%;"></canvas>
  <h2 style="margin-top:32px;">Evolución mensual de facturación</h2>
  <canvas #lineChartCanvas style="max-width:100%;"></canvas>
</ion-content>
